body {
  background: #cdeef3;
  min-height: 100vh;
  font-size: 0.8rem;
  font-weight: bold;
}
.cartcard {
  background: #fdf1ec;
  min-height: 40vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 15px;
}
.title {
  margin-bottom: 5vh;
}
.card {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  width: 200%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 1rem;
  border: transparent;
}
@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}
.cart {
  background-color: #e7e7e7;
  padding: 4vh 5vh;
  width: 65%;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}
.summary {
  background-color: #8cb6b6;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  width: 29%;
  color: rgb(33 27 27);
}
@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}
.summary .col-2 {
  padding: 0;
}
.summary .col-10 {
  padding: 0;
}
.title b {
  font-size: 1.5rem;
}
.main {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  width: 100%;
}
.col-2,
.col {
  padding: 0 1vh;
}
.col-2 img {
  margin-top: 4px;
  width: 160px;
}
.colname {
  padding-top: 38px;
  font-size: 18px;
}
a {
  padding: 0 1vh;
}
.close {
  margin-left: auto;
  font-size: 0.7rem;
}
img {
  width: 3.5rem;
}
.back-to-shop {
  margin-top: 3.5rem;
  font-size: 17px;
}
.back-to-shop a {
  text-decoration: none;
  color: black;
}
.back-to-shop a:hover {
  color: black;
  text-decoration: none;
}
h2 {
  font-size: 30px;
  margin-top: 4vh 0vh 2vh 0vh;
}
.item {
  font-size: 15px;
  margin-top: 12px;
  margin-top: 20px;
}
.givencode {
  display: block;
}
hr {
  margin-top: 0.6rem;
}
.formid {
  display: flex;
  justify-content: space-around;
}
.detailsform p {
  padding: 6vh 0vh 2vh 0vh;
  font-size: 17px;
}
.formid label {
  font-size: 17px;
  margin-top: 49px;
}
.col select {
  font-size: 10px;
  width: 40px;
  border-radius: 5px;
}
.colqty {
  display: flex;
  justify-content: space-around;
}
.datal {
  font-size: 19px;
  padding-top: 5px;
  margin-top: 38px;
  padding-bottom: 5px;
  display: flex;
}
.price {
  padding-top: 10px;
}
select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  font-size: 13px;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
.qtyinput {
  border: 1px solid rgba(0, 0, 0, 0.137);
  margin-top: 47px;
  margin-left: -23px;
  padding-left: 5px;
  font-size: 13px;
  outline: none;
  width: 12%;
  background-color: rgb(237 237 237);
}
.grandtotal {
  margin-top: 40px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding: 5vh 0vh 2vh 0vh;
}
.subinput {
  border: none;
  background: none;
  color: blue;
  font-size: 18px;
}
.delete span a {
  font-size: 19px;
  text-decoration: none;
}
.checkoutbtn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 87%;
  height: 45px;
  margin-top: 3vh;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 5px;
  border: none;
}
.checkoutbtn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}
.checkoutbtn:hover {
  background-color: #fdf1ec;
  color: black;
  border: none;
}
table {
  border-collapse: collapse;
  text-align: center;
  margin: 17px 0px 17px 0px;
}
table tr td {
  border-collapse: collapse;
  border-bottom: 1px solid black;
  padding: 10px;
  padding-left: 10px;
}
table tr th {
  border-bottom: 4px solid black;
  padding: 8px;
  /* padding-left: 10px; */
}
#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url(https://img.icons8.com/small/16/000000/long-arrow-right.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
  width: 98%;
  height: 33px;
  border: none;
  padding-left: 9px;
}
